<%- include('partials/header') -%>
<h1>Compose</h1>



    <form action="" action ="/compose" method="post">
        <div class="form-class">
        <label for="">Title</label>
        <input class="form-control" type="text" name="postTitle"> 
        <label for="">Post</label>
        <textarea class= "form-control" name="postBody" id="" cols="30" rows="10"></textarea>
        <button class="btn btn-primary" type ="submit" class="button">Publish
        </button>
    </form>
</div>

<%- include('partials/footer') -%>